* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0b1220;
  color: #e5e7eb;
  line-height: 1.6;
   padding-top: 70px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  border-color: rgba(56, 189, 248, 0.5);
}

.buttons a {
  display: inline-block;
  margin: 5px;
  padding: 12px 22px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
}

.buttons a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.hero {
  text-align: center;
  padding: 120px 20px;
  background: radial-gradient(circle at top, #1e293b, #0b1220);
}

.hero h1 {
  font-size: 52px;
  font-weight: 700;
}

.hero p {
  opacity: 0.75;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 14px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: rgba(56, 189, 248, 0.5);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  opacity: 0.8;
  margin-bottom: 10px;
}

.tags {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #38bdf8;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  z-index: 1000;
}

.logo {
  font-weight: 700;
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}


.skills {
  max-width: 800px;
  margin: auto;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  margin-bottom: 6px;
  opacity: 0.9;
}

.bar {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.08);
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 100%;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  width: 0;
  animation: fillBar 1.5s ease forwards;
}

@keyframes fillBar {
  from { width: 0; }
  to { }
}
